

.card{

    border: 2px solid black;
    padding: 1rem;
    width: 150px;
    height: 150px;
    display: flex;
justify-content: center;
align-items: center;
border-radius: 10%;
background-color:var(--yellow);


}